light-gray = #818181
gray = #333333

.crossed	
	text-decoration:	line-through

.avatar 
	position: relative
	top: 6px
	height: 38px
	width: 38px

.round 
	border-radius: 50%
	overflow: hidden

.left 
	float left

.username
	color: light-gray
	position: relative
	top: 15px
	padding-right: 13px

